
/* ---------- Color Module Styles ----------- */

.l-container {
  background: #ffffff;
}
.l-header {
  color: #fffeff;
  background-color: #0779bf;
}
h2, .view-mode-teaser h2 a {
  color: #0779bf;
}
a {
  color: #0071b3;
}
a:hover,
a:focus {
  color: #018fe2;
}
a:active {
  color: #23aeff;
}
.l-main-wrapper {
  background-color: #f2f2f2;
}
.l-sidebar .block {
  background-color: #f6f6f2;
  border-color: #f9f9f9;
}
.l-footer-wrapper,
.l-footer {
  background: #292929;
}
.l-header a,
.l-footer-wrapper,
.l-footer {
  color: #fffeff;
}
